{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadIntegrationEventsOnly",
      "Effect": "Allow",
      "Action": [
        "sqs:GetQueueUrl",
        "sqs:ReceiveMessage",
        "sqs:DeleteMessage",
        "sqs:ChangeMessageVisibility"
      ],
      "Resource": "${EVENTS_QUEUE_ARN}"
    }
  ]
}
